* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    --celeste: rgb(46, 178, 255);
    --violeta: rgb(117, 0, 163);
    --naranja: rgb(255, 102, 0);
    --verde: rgb(97, 204, 36);
    --gris: rgb(221, 221, 221);
    --negro: rgb(36, 36, 36);
    
}
body {
    background: var(--negro);
}

.gameboard {
    display: flex;
    position: relative;
    margin: 100px auto;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;    
}
.color {
    width: 50%;
    height: 50%;
    transition: background .2s, transform .2s, filter .2s;
}
.color:hover {
    filter: brightness(1.3);
}
#celeste {
    background-color: var(--celeste);
    border-top-left-radius: 100%;
}
#violeta {
    background-color: var(--violeta);
    border-top-right-radius: 100%;
}
#naranja {
    background-color: var(--naranja);
    border-bottom-left-radius: 100%;
}
#verde {
    background-color: var(--verde);
    border-bottom-right-radius: 100%;
}

/*LIGHT*/
.light {
    opacity: 50%;
    transform: scale(1.1);

}
.btn-start {
    position: absolute;
    width: 650px;
    height: 150px;
    border: none;
    border-radius:10px;
    top: calc(50% - (150px / 2));
    right: calc(50% - (650px / 2));
    transition: background .2s;
    font-size: 3em;
    font-weight: bold;
    color: var(--negro);
    outline: none

}
.btn-start:hover {
    background: var(--gris);
}